{% extends 'base.html' %}

{% block body %}

<div class="container justify-content-center mt-5" style="height: 100px;">
    <div class="row">
        <div class="col">
            <div class="card">
            <img src="/static/images/{{ book[0] }}.jpg" class="card-img-top">
                  <div class="card-body">
                  <h5 class="card-title">{{ book[0] }} - {{ book[1] }}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">{{ book[2] }}</h6>
                  <p class="card-text">{{ book[5] }}</p>
                  </div>
                  <div class="card-footer text-muted">
                    {{ book[6] }}
                  </div>
                </div>
            </div>
        <div class="col-9">
            <div class="container justify-content-center mt-5 card card-body">
            <form method='post' id="form" action="/pay">
              <div class="mb-3">
                <label for="coupon" class="form-label">Скидочный купон</label>
                <input class="form-control" id="coupon" aria-describedby="emailHelp" name="coupon">
              </div>
                <ul class="nav nav-pills">
                    <li class="nav-item">
                      <a href="#" class="btn btn-success disabled me-2">{{ book[3] }} ₽</a>
                    </li>
                    <li class="nav-item">
                      <input type='button' value='Оплатить' class='btn btn-primary' onclick="pay();">
                    </li>
                  </ul>
            </form>
            </div>
            <div class="container justify-content-center mt-5 card card-body">
            <form method="post" action="{{ url_for('download') }}">
              <div class="mb-3">
                <label for="download_key" class="form-label">Ключ для скачивания книги</label>
                <input type="password" class="form-control" id="download_key" name="download_key">
                <label for="book_id" class="form-label">Ключ для скачивания книги</label>
                <input class="form-control disabled" id="book_id" name="book_id" value="{{ book[0] }}">
              </div>
              <input type='submit' value='Скачать книгу' class='btn btn-primary'>
            </form>
            </div>
        </div>
    </div>
</div>
    <script>
        function pay() {
            $.ajax({
                type: 'POST',
                url: "/pay",
                data: $('form').serialize(),
                type: 'POST',
                success: function(response) {
                    var json = jQuery.parseJSON(response);
                    console.log(response);
                    if (json['payment'] == 'True') {
                        get_key();
                    };
                },
                error: function(error) {
                    console.log(error);
                }
            });
        };
        function get_key() {
            $.ajax({
                type: 'POST',
                url: "/get_key",
                data: {
                     book_id: $('#book_id').val(),
                         },
                type: 'POST',
                success: function(response) {
                    var json = jQuery.parseJSON(response)
                    $("#download_key").val(json['key']);
                },
                error: function(error) {
                    console.log(error);
                }
            });
        };
    </script>

{% endblock %}