{% extends 'base.html' %}

{% block body %}

<div class="container justify-content-center mt-5" style="height: 100px;">
    <div class="row">
        <div class="col">
            <div class="card">
            <img src="/static/images/{{ book[0] }}.jpg" class="card-img-top">
                  <div class="card-body">
                  <h5 class="card-title">{{ book[0] }} - {{ book[1] }}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">{{ book[2] }}</h6>
                  <p class="card-text">{{ book[4] }}</p>
                  </div>
                  <div class="card-footer text-muted">
                    {{ book[5] }}
                  </div>
                </div>
            </div>
        <div class="col-9">
            <div class="container justify-content-center mt-5 card card-body">
            <form method='post' action="{{ url_for('auth') }}">
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Купон для скидки</label>
                <input class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
              </div>
              <input type='submit' value='Оплатить' class='btn btn-primary'>
            </form>
            </div>
            <div class="container justify-content-center mt-5 card card-body">
            <form method='post' action="{{ url_for('auth') }}">
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Ключ для скачивания книги</label>
                <input type="password" class="form-control" id="exampleInputPassword1" name="password">
              </div>
              <input type='submit' value='Скачать книгу' class='btn btn-primary'>
            </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}