{% extends 'base.html' %}

{% block body %}

<div class="container justify-content-center mt-5 card card-body">
<form method='post' action="{{ url_for('auth') }}">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
    <div id="emailHelp" class="form-text">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" name="password">
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <input type='submit' value='Submit' class='btn btn-primary'>
</form>
</div>

<div class="container justify-content-center mt-5">
<p>
  <a class="btn btn-secondary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Подсказка
  </a>
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
    {% for book in books %}
        <div class='book'>
            <h3>#{{ book[0] }} - {{ book[1] }} BY {{ book[2] }}</h3>
            <i><p>({{ book[3] }} pages)</p></i>
            <p class='review'>{{ book[4] }}</p>
            <i><p>Added {{ book[5] }}</p></i>
        </div>
    {% endfor %}
  </div>
</div>
</div>

{% endblock %}